.card-container {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    border-color: var(--light-grey);
    border-style: none none groove none;
    border-width: thin;
}

.inner-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}