/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

:root {
  --white: #ffffff;
  --tan: #E6C2A9;
  --dark-grey: #7d7d7d;
  --light-grey: #cacaca;
}

.light-text {
  color: var(--tan);
}

.dark-text {
  color: var(--dark-orange);
}

.light-background {
  background-color: var(--tan);
}

.dark-background {
  background-color: var(--dark-orange);
}

.light-orange-background {
  background-color: var(--light-orange);
}

.light-orange-color {
  color: var(--light-orange);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo-img {
  max-width: 25%;
  height: auto;
}